[server.odoo]
sys_user = odoo
# odoo_root is relatively, right under the deploy-odoo root.
odoo_root = odoo
# TODO implement Supervisor control of start_odoo.py
# supervisor = True

[odoo-bin]
# addons-path = /opt/approot/current/odoo/enterprise,/opt/approot/current/odoo/custom,/opt/approot/current/odoo/addons
addons-path = /opt/approot/current/odoo/odoo/addons
# db_user = odoo
# db_password = False
# db_host = 127.0.0.1
# db_port = False
# db-filter = False
# no-database-list
# workers = 0
# proxy_mode = True